.done {
    text-decoration: line-through
}

.task {
    display: flex;
    justify-content: space-around;
    width: 80%;
    /* border-bottom: 1px solid #ccc;
    margin-left: 10%;
    /* margin: 0 auto; */

    margin-left: 15%;
}

/* .container {
    background-color: bisque;
   
    margin: 0 auto;
    min-width: 60%;
    height: 100vh;
  
} */

.todo-app {
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    max-height: 100vh;
    margin-top: 10%;
}

.left, .right {
    min-height: 600px;
    max-height: 600px;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 5px 14px 14px 5px rgba(253, 223, 223, 0.795);
}

.left {
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
}

input[type=checkbox] {
    zoom: 1.9;
}

.checkbox-div, .title-div, .delete-div {
    width: 30%;
    /* height: 5px; */
    margin: 0.1rem;
}

.title-div h3 {
    line-height: 0px;
}

h1.header {
    text-align: center;
    margin-top: 50%;
    color: #ecf0f1;
}

.delete-div button {
    background-color: #e74c3c;
    color: #ecf0f1;
    height: 34px;
    width: 22%;
    border-radius: 10%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}

.right>form input {
    margin: 15px;
}

.right>form input[type=text] {
    width: 45%;
    height: 30px;
}

.add-button {
    background-color: #2ecc71;
    color: #ecf0f1;
    height: 34px;
    width: 25%;
    border-radius: 10%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
